@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500&family=Varela+Round&display=swap');

/* *** Variables ***  */
:root {
  --header-font: 'Playfair Display', serif;
  --text-font: 'Poppins', sans-serif;
  --nav-font: 'Varela Round', sans-serif;
  --primary-color: #4070ff;
  --secondary-color: #5983ff;
  --grey-color: #e0e0e0;
  --dark-color: #333;
  --white-color: #fff;
}

body,
html {
  overflow-x: hidden;
}

body {
  font-family: var(--text-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

ul {
  list-style: none;
  padding: 0;
}

/* *** Preloader *** */
#preloader {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

#status {
  background: url('../images/preloader/preloader.gif');
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -55px;
  margin-top: -75px;
}

/* *** Bootstrap Overrides *** */
.btn {
  font-family: var(--text-font);
  font-size: 0.8rem;
  padding: 0.7rem 1.4rem;
  font-weight: bold;
}

.btn-primary {
  background: var(--primary-color);
}

.bg-primary {
  background: var(--primary-color) !important;
}

.btn-primary:hover {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  background: var(--primary-color);
}

.content-box-lg {
  padding: 7rem 0;
}

.content-box-md {
  padding: 5rem 0;
}

.content-box-sm {
  padding: 0 0 5rem;
}

/* Navbar Styling */
.nav-item.active .nav-link {
  color: var(--primary-color);
  position: relative;
  display: inline-block;
}

.nav-item.active .nav-link::after {
  position: absolute;
  content: '';
  width: 23px;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-color);
  border-radius: 40px;
}

.bar {
  background: var(--primary-color);
  display: inline-block;
  width: 40px;
  height: 3px;
  position: relative;
  margin-bottom: 0.3rem;
  transition: 0.3s ease;
}

.bar::before {
  content: '';
  position: absolute;
  width: 100%;
  top: -8px;
  height: 3px;
  background: var(--primary-color);
  left: 0;
}

.bar::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 8px;
  height: 3px;
  background: var(--primary-color);
  left: 0;
}

.navbar-toggler[aria-expanded='true'] .bar {
  background: transparent;
}

.navbar-toggler[aria-expanded='true'] .bar::before {
  transform: rotate(45deg) translateY(11px);
}

.navbar-toggler[aria-expanded='true'] .bar::after {
  transform: rotate(-45deg) translateY(-12px);
}

.nav-link {
  color: var(--dark-color);
  font-size: 0.8rem;
  margin-right: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
}

.generic-heading {
  text-align: left;
  width: 70%;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 4rem;
  line-height: 1.4;
}

.heading-sm {
  font-size: 1.3rem;
  margin-top: 90px;
  margin-bottom: 0;
}

/* *** Banner *** */
.banner {
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center center;
}

.banner-heading {
  font-size: 4.5rem;
  line-height: 50vh;
}

/* *** Footer *** */

.footer,
.mobile-footer {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 3rem 0;
}

.footer-list li {
  margin: 1rem 0;
}

.footer .link {
  color: var(--white-color);
  font-weight: 300;
}

.special-link {
  font-weight: 500 !important;
  position: relative;
}

.special-link:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.special-link::after {
  position: absolute;
  content: '';
  width: 50px;
  height: 3px;
  background: var(--white-color);
  bottom: -0.4rem;
  left: 0.2rem;
}

.social-icons img {
  width: 30px;
  /* margin: 0 0.5rem; */
}

/* *** Mobile Footer *** */
.mobile-footer {
  overflow: hidden;
  display: none;
}
.mobile-footer .link {
  color: var(--primary-color);
}

.mobile-footer .card {
  border-radius: 0;
  border-right: 0;
  border-left: 0;
}

.contact-us {
  background: var(--primary-color);
}

.contact-us .col-6 {
  padding: 0.5rem;
}

.contact-us .link {
  color: var(--primary-color);
  font-size: 0.65rem;
}

.slick-dots li.slick-active button:before {
  color: var(--primary-color);
}

/* Mobile Footer Contact Info */
.mobile-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.mobile-phone {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* *** Copyright *** */
.copyright {
  color: var(--primary-color);
  font-family: var(--header-font);
}
