/* *** Hero Styling *** */
.hero {
  background: url('../images/hero.png');
  height: 100vh;
  background-size: cover;
  position: relative;
}

.hero-content {
  padding-top: 100px;
}

.hero-heading {
  font-size: 3.1rem;
  line-height: 1.4;
}

.custom-input {
  position: relative;
}

.custom-input .form-control {
  position: absolute;
  padding: 1.7rem;
  font-size: 0.8rem;
}

.custom-input .btn {
  position: absolute;
  padding: 1.1rem 2.3rem;
  right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.scroll-down-indicator {
  position: absolute;
  right: 1rem;
  bottom: 10rem;
  font-size: 0.8rem;
  transform: rotate(-90deg);
  animation-name: slideDown;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroll-down-indicator::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 2px;
  background: #fff;
  top: 0.55rem;
  left: 5.3rem;
}
/* Hero Styling End */

/* *** About Styling *** */

.about-text {
  font-size: 0.9rem;
  width: 80%;
  line-height: 1.8;
  font-weight: 500;
}

/* About Items */
.about-item {
  background: #ffffff;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.1);
  height: 480px;
  max-height: 480px;
  width: 100%;
}

.about-item-text {
  font-size: 0.8rem;
  width: 80%;
  margin: auto;
}

/* *** Slider Styling *** */
.slider {
  margin-bottom: 4rem;
  overflow-x: hidden;
}

.slider-item {
  position: relative;
}

.slider-img {
  width: 100%;
  /* height: 400px; */
}

.slider-desc {
  background: var(--white-color);
  position: absolute;
  bottom: 2rem;
  left: 3rem;
  width: 170px;
}

.slider-name,
.slider-link {
  font-size: 0.8rem;
  font-weight: bold;
}

.slider-link {
  color: var(--primary-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.04rem;
}

.slider-link:hover {
  color: var(--secondary-color);
}

.indicator-btn {
  margin: 1rem 2rem;
  width: 40px;
  cursor: pointer;
  transition: all 0.3s;
}

.indicator-btn:active {
  transform: translateX(5px);
}

/* Mobile Sliders */
.mobile-sliders {
  display: none;
}

.mobile-sliders .link {
  color: var(--primary-color);
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

.mobile-sliders .link:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.mobile-sliders .link:hover img {
  transform: translateX(3px);
}

/* *** Houses Styling *** */
.house-item {
  position: relative;
}

.house-img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  max-height: 410px;
  height: 410px;
  width: 100%;
  position: relative;
}

.house-img:hover {
  transform: scale(1.01);
}

.premium::after {
  position: absolute;
  content: '';
  background: rgba(64, 112, 255, 0.5);
  width: 100%;
  height: 72%;
  top: 0;
  cursor: pointer;
}

.img-overlay {
  position: absolute;
  content: '';
  background: rgba(64, 112, 255, 0.5);
  width: 100%;
  height: 72%;
  top: 0;
  cursor: pointer;
}

.house-item .tag {
  background: var(--primary-color);
  color: var(--white-color);
  position: absolute;
  top: -1rem;
  right: 0;
  font-size: 0.8rem;
  width: 200px;
  font-weight: 500;
  font-family: var(--text-font);
  z-index: 2;
}

.house-item .tag-premiun {
  color: var(--primary-color);
  background: var(--white-color);
  box-shadow: 1px 16px 32px rgba(64, 112, 255, 0.4);
}

.house-item .tag-elite {
  color: var(--white-color);
  background: var(--dark-color);
  box-shadow: 1px 16px 32px rgba(64, 112, 255, 0.4);
}

.house-price {
  font-family: var(--text-font);
}

.desc-icon p {
  font-size: 0.7rem;
  font-weight: 500;
}

/* *** Stats *** */
.stats-content {
  background: url('../images/stats-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 180px !important;
  min-height: 500px;
  height: auto;
  padding: 50px 0;
}

.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(89, 131, 255, 0.95);
  width: 100%;
  height: 100%;
}

.stats-img {
  position: absolute;
  width: 300px;
  top: -10rem;
}

.stats-desc {
  font-size: 0.8rem;
  line-height: 1.8;
  margin-top: 1rem;
}

.stat-item {
  margin: 20px 0;
  margin-left: 50px;
}

.stat-item,
.stat-item h5 {
  font-family: var(--header-font);
  font-weight: bold;
}

.stat-figure {
  font-size: 1.8rem;
}

.stat-info {
  letter-spacing: 0.03rem;
  font-size: 1rem;
}

/* *** Info *** */
.info,
.info-heading {
  font-family: var(--text-font);
}

.info-item {
  width: 300px;
  margin: 2rem auto;
  height: 400px;
}

.img-special {
  margin-bottom: -2rem;
  margin-top: -2rem;
}

.info-heading {
  font-size: 1rem;
  margin: 2rem 0;
  font-weight: 600;
}

.info-text {
  font-size: 0.8rem;
  width: 80%;
  margin: 2rem auto;
}

/* Animations */
@keyframes slideDown {
  0% {
    transform: rotate(-90deg) translateX(-7px);
  }
  50% {
    transform: rotate(-90deg) translateX(7px);
  }
  100% {
    transform: rotate(-90deg) translateX(0);
  }
}
