/* *** ||||  Page ||| *** */
.banner-residence {
  background: url('../images/banner/banner.png');
}

.generic-heading {
  margin: 0 auto;
  margin-bottom: 2.5rem;
  position: relative;
  text-align: center;
}

.residence {
  margin-bottom: 5rem;
}

.residence .generic-heading::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 5px;
  background: var(--primary-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.8rem;
}

.residence-item {
  margin: 8rem 0;
}

.residence .col-3 > img {
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.residence-main-container {
  position: relative;
}

.residence-alert {
  background: var(--primary-color);
  display: inline-block;
  width: 130px;
  text-align: center;
  padding: 0.5rem;
  color: var(--white-color);
  font-size: 1rem;
  position: absolute;
  top: 1.5rem;
}

.residence-main {
  width: 100%;
}

.residence-heading {
  font-weight: bold;
  font-size: 1.5rem;
  overflow: hidden;
}

.residence-text {
  font-size: 1rem;
  line-height: 180%;
}

.house-desc,
.residence-text {
  font-family: var(--text-font);
  font-weight: 500;
}

.residence-btn {
  padding-left: 2rem;
  padding-right: 2rem;
}

.residence-footer {
  overflow-x: hidden;
}

.residence-footer,
.residence-footer-header {
  font-family: var(--text-font);
}

.residence-footer-header {
  font-weight: bold;
  font-size: 1.2rem;
}

.residence-footer-text {
  width: 65%;
  margin: 2rem auto;
}

.slick-dots li.slick-active button:before {
  color: var(--primary-color);
}

.slick-slide {
  outline: none;
}

@media (max-width: 768px) {
  .banner-heading {
    font-size: 3rem;
  }

  .residence-item {
    margin: 5rem 0;
  }

  .residence-btn {
    margin-bottom: 3rem;
  }

  .generic-heading {
    margin-bottom: 2rem !important;
  }

  .residence-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .banner {
    height: 300px;
  }
  .banner-heading {
    font-size: 2rem;
  }

  .residence-sliders img {
    width: 100%;
    height: 130px;
  }

  .residence-heading {
    margin-top: 1rem;
  }

  .residence-heading,
  .residence-text,
  .residence-btn {
    text-align: center;
    overflow-x: hidden;
  }

  .residence-footer-header {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .residence-footer-text {
    width: 90%;
    font-size: 0.8rem;
    margin: 1rem auto;
  }

  .residence-btn {
    display: inline-block;
    margin: 1rem auto;
  }

  .house-desc {
    padding-left: 3rem;
  }

  .residence-btn {
    width: 100%;
    margin: 1rem auto;
  }
}

@media (max-width: 425px) {
  .generic-heading {
    text-align: center;
    margin: 0;
  }

  .generic-heading::after {
    left: 50%;
    transform: translateX(-50%);
  }

  .house-desc {
    padding-left: 1rem;
  }
}
